    /* ACCORDIAN */

.accordion_container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    gap: 20px;
}

.accordion_btns{   
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    font-family: Space Mono;
    font-style: normal;
    margin: 2%;
    flex-wrap: wrap;
    gap: 10px;
}  

.accordion_btn{  
    border-style: solid;
    border-radius: 20px;
    color: white;
    background-color: black;
    width: 275px;
    height: 60px;
    font-family: Space Mono;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
} 
.accordion_btn:hover{ 
    background-color:#969695 ; 
    border-color: #969695;
}

@media (min-width: 768px) {
    .accordion_btns{ 
        flex-wrap: nowrap;
    }
    .accordion_btn{
        border-radius: 10px;
        font-size: 16px;
        width: 230px;
        height: 50px;
    }
}

.content{  
    margin: 0 10%;
    font-size: 18px;  
    font-family: Space Mono;
}

.accordion_container .content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
}

.accordion_container .content p {
    margin: 0;
    margin-bottom: 10%;
}

.active{ 
    display: block;
} 

.close_btn{ 
    border-style: solid; 
    border-radius: 50%; 
    border-color: #D9D9D9; 
    background-color: #D9D9D9;
    float: right;
    cursor: pointer;
}   



.study_btns{  
    display: flex; 
    flex-direction: column; 
    gap: 10px;
} 

.study_btn{ 
    border-style: solid;  
    border-radius:20px; 
    color: white;  
    background-color: black;
    width: 275px; 
    height: 60px; 
    font-family: Space Mono;  
    font-style: normal;   
    font-size: 18px; 
    cursor: pointer;
} 
.study_btn:hover{ 
    background-color:#969695 ; 
    border-color: #969695;
} 

.study_container{ 
    font-size: 20px;
    width: 100%;
    height:  auto;  
    padding: 5%;
    margin: auto; 
    float: right;   
}  

.btn_next{ 
    border-color: white; 
    border: none; 
    float: right; 
    margin: 2%;
    cursor: pointer;
}

.study_container label { 
    font-family: Jura; 
    font-size: 30px; 
    font-weight: bold; 
    position: relative; 
    background-color: #F39414;  
} 

.study_container_wrapper{ 
    margin-left: 15%;
}


.study_layout{  
    display: flex; 
    align-items: center;  
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .content {
        font-size: 24px;
    }
    .study_layout{  
        flex-wrap: nowrap;
        padding: 20px;
        justify-content: flex-start;
    }
}