    /* GALERIA */

.events_container{ 
    display: flex;
    align-items: baseline;
    padding: 5%;
    flex-wrap: wrap;
}  

.events_titles{
    display: block;
    font-family: Jura; 
    font-size: 50px; 
    font-weight: bold; 
    background-color: #F39414;
    padding: 4px;
} 


.events_content{ 
    padding-left: 5%;  
    font-family: Space Mono; 
    font-size: 24px; 
}  

.feed{   
    padding-left: 5%;
    display: grid;  
    grid-auto-flow: column; 
    grid-auto-columns: 48%; 
    overflow-x: auto; 
    overscroll-behavior-inline:contain ; 
    padding-bottom: 5%; 
    scrollbar-width: none; /* Oculta a barra  no Firefox */
    -ms-overflow-style: none; /* Oculta a barra no Internet Explorer e Edge */
}
    
.feed::-webkit-scrollbar {
    display: none; /* Oculta a barra no Chrome e Safari */
}
    
.projects{ 
    padding: 5%; 
    display: grid; 
    padding: 5%;   
      
}   

.proj_img{ 
    height: 400px;
}

@media (min-width: 768px) {
    .events_container{
        flex-wrap: nowrap;
    }
}